<h1>Home#index</h1>

<div class="container">
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10">
			<!-- TOGGLES -->
			<div class="toggle toggle-transparent toggle-bordered-full margin-top-60">

				<% @boards.each do |board| %>
					<div class="toggle"><!-- toggle -->
						<label><%= board.title %></label>
						<div class="toggle-content" style="display: none;">
							<%= link_to "수정", edit_board_path(board), class: "btn btn-outline-info btn-sm" %>
							<%= link_to "삭제", board_path(board), method: :delete, class: "btn btn-outline-danger btn-sm", data: {confirm: "#{board.title}을 삭제합니다."} %>
						</div>
					</div><!-- /toggle -->
				<% end %>
			</div>
			<!-- /TOGGLES -->
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1"></div>
	</div>
</div>
