<section> </sectoin>
<section id="star">
	<div class="container">
		<h3 class="lead"><i class="fa fa-star-o"></i> Starred Boards </h3>

		<% @boards.each do |board| %>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="thumbnail">
					<div class="caption">
						<h4 class="nomargin board_title"> <%= link_to board.title, board_path(board) %> </h4>
						<small class="margin-bottom-20 block"><i class="fa fa-clock-o"></i> <%= board.created_at.to_s(:short) %> </small>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section id="basic">
	<div class="container">
		<h3 class="lead"><i class="fa fa-pencil-square-o"></i> Your Boards </h3>

		<% @boards.each do |board| %>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="thumbnail">
					<div class="caption">
						<h4 class="nomargin board_title"> <%= link_to board.title, board_path(board) %> </h4>
						<small class="margin-bottom-20 block"> <%= board.created_at.to_s(:short) %> </small>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>
