<div id="header" class="sticky header-sm header-light header-shadow-1">

	<header id="topNav">
		<div class="container">

			<!-- Mobile Menu Button -->
			<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
				<i class="fa fa-bars"></i>
			</button>

			<!-- BUTTONS -->
			<ul class="pull-right nav nav-pills nav-second-main">

				<!-- SEARCH -->
				<li class="search">
					<a href="javascript:;">
						<i class="fa fa-search"></i>
					</a>
					<div class="search-box">
						<form action="page-search-result-1.html" method="get">
							<div class="input-group">
								<input type="text" name="src" placeholder="Search" class="form-control">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit">Search</button>
								</span>
							</div>
						</form>
					</div> 
				</li>
				<!-- /SEARCH -->

				<!-- User -->
				<li class="quick-cart">
					<a href="#">
						<i class="fa fa-shopping-cart"></i> 
					</a>
					<div class="quick-cart-box">
						<h4>Shop Cart</h4>

						<div class="quick-cart-wrapper">

							<div class="pl-15 pr-15 pt-15 pb-15">
								<h4 class="size-13 weight-400 mb-10">Welcome to Smarty!</h4>
								<a href="#" class="btn btn-primary btn-sm btn-block weight-300">LOG IN</a>
							</div>
						</div>

						<!-- quick cart footer -->
						<div class="quick-cart-footer clearfix">
							<a href="shop-cart.html" class="btn btn-danger btn-xs pull-right">VIEW CART</a>
							<span class="pull-left"><strong>TOTAL:</strong> $54.39</span>
						</div>
						<!-- /quick cart footer -->

					</div>
				</li>
				<!-- /User -->

			</ul>
			<!-- /BUTTONS -->


			<!-- Logo -->
			<a class="logo pull-left" href="index.html">
				<img src="assets/images/_smarty/logo_dark.png" alt="">
			</a>

			<!-- 
				Top Nav 
				
				AVAILABLE CLASSES:
				submenu-dark = dark sub menu
			-->
			<div class="navbar-collapse pull-right nav-main-collapse collapse">
				<nav class="nav-main">

					<!--
						NOTE
						
						For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
						Direct Link Example: 

						<li>
							<a href="#">HOME</a>
						</li>
					-->
					<ul id="topMain" class="nav nav-pills nav-main">
						<li class="dropdown"><!-- HOME -->
							<a class="dropdown-toggle" href="<%= root_path %>">
								<span class="theme-color">HOME</span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										HOME CORPORATE
									</a>
									<ul class="dropdown-menu">
										<li><a href="index-corporate-1.html">CORPORATE LAYOUT 1</a></li>
										<li><a href="index-corporate-2.html">CORPORATE LAYOUT 2</a></li>
										<li><a href="index-corporate-3.html">CORPORATE LAYOUT 3</a></li>
										<li><a href="index-corporate-4.html">CORPORATE LAYOUT 4</a></li>
										<li><a href="index-corporate-5.html">CORPORATE LAYOUT 5</a></li>
										<li><a href="index-corporate-6.html">CORPORATE LAYOUT 6</a></li>
										<li><a href="index-corporate-7.html">CORPORATE LAYOUT 7</a></li>
									</ul>
								</li>
							</ul>
						</li>

						<!-- 
							MENU ANIMATIONS
								.nav-animate-fadeIn
								.nav-animate-fadeInUp
								.nav-animate-bounceIn
								.nav-animate-bounceInUp
								.nav-animate-flipInX
								.nav-animate-flipInY
								.nav-animate-zoomIn
								.nav-animate-slideInUp

								.nav-hover-animate 		= animate text on hover

								.hover-animate-bounceIn = bounceIn effect on mouse over of main menu
						-->
					</ul>

				</nav>
			</div>

		</div>
	</header>
</div>