<div class="quick-cart-box">
	<h4><%= 유저 이름이 뜰거에요 %></h4>

	<div class="quick-cart-wrapper">

		<div class="pl-15 pr-15 pt-15 pb-15">
			<h4 class="size-13 weight-400 mb-10">Welcome to HOU!</h4>
			<a href="#" class="btn btn-primary btn-sm btn-block weight-300">LOG IN</a>
		</div>
	</div>

	<!-- quick cart footer -->
	<div class="quick-cart-footer clearfix">
		<a href="shop-cart.html" class="btn btn-danger btn-xs pull-right">VIEW CART</a>
		<span class="pull-left"><strong>TOTAL:</strong> $54.39</span>
	</div>
	<!-- /quick cart footer -->
</div>