<h4><i class="fa fa-user"></i> <%= current_user.email %></h4>

<div class="quick-cart-wrapper">
	<div class="pl-15 pr-15 pt-15 pb-15">
		아아아아앙
	</div>
</div>

<!-- quick cart footer -->
<div class="quick-cart-footer clearfix">
	<%= link_to 'Sign_out', destroy_user_session_path, method: :delete, class: "btn btn-danger btn-xs pull-right" %>
	<span class="pull-left"><%= current_user.boards.length%> <strong> BOARDS</strong></span>
</div>
<!-- /quick cart footer -->
